<address class="footer-nav__section">
	<div class="footer-nav__section--background" style="background-image: url('media/img/mainpage-assets/footer-world-bg.png');">
		<div class="footer-nav__container">
			<div class="footer-nav__row">
				<div class="footer-nav__item footer-nav__left">
					<img class="img-fluid align-self-center" alt="Picture" title="Picture" src="media/img/mainpage-assets/header-logo.png">
					<div class="footer-nav__line footer-nav__line--left"><i class="glyphs__zigzag">&nbsp;</i></div>
					<a class="footer-nav__href" title="URL" target="_self" href="#">Дисклеймер компании </a>
				</div>
				<div class="footer-nav__item footer-nav__center">
					<h4 class="footer-nav__h4 footer-nav__h4--lts">мы в соцсетях</h4>
					<div class="footer-nav__line"><i class="glyphs__zigzag">&nbsp;</i></div>
					<div class="footer-nav__social">
						<a title="URL" target="_blank" href="https://instagram.com"><i class="glyphs__s-inst">&nbsp;</i></a>
						<a title="URL" target="_blank" href="https://twitter.com"><i class="glyphs__s-twit">&nbsp;</i></a>
						<a title="URL" target="_blank" href="https://facebook.com"><i class="glyphs__s-face">&nbsp;</i></a>
					</div>
				</div>
				<div class="footer-nav__item footer-nav__right">
					<h4 class="footer-nav__h4">адрес</h4>
					<div class="footer-nav__line footer-nav__line--right"><i class="glyphs__zigzag">&nbsp;</i></div>
					<div class="footer-nav__p">г. Минск, ул. Скрыганова, 6А,
						<br> 4 этаж</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bot__section--background">
		<div class="footer-bot__container">
			<h4 class="footer-bot__copyright">Copyrights 2015 © Webcom Media </h4>
		</div>
	</div>
</address>