<nav class="header-nav header-nav__color header-nav__topfixed ">
	<div class="header-nav__container js__headerSlim">
		<div class="header-nav__logo">
			<a href="#">
				<img class="img-fluid align-self-center" alt="Picture" 
				src="media/img/mainpage-assets/header-logo.png">
		</a>
		</div>
		<div class="header-nav__links js__headerSelect">
			<a href="#hash0" class="header-nav__links-item"><span class="header-nav__href">главная</span></a>
			<a href="#hash1" class="header-nav__links-item"><span class="header-nav__href">портфолио</span></a>
			<a href="#hash2" class="header-nav__links-item"><span class="header-nav__href">преимущества</span></a>
			<a href="#hash2" class="header-nav__links-item"><span class="header-nav__href">схема работы</span></a>
			<a href="#hash3" class="header-nav__links-item"><span class="header-nav__href">отзывы</span></a>
			<a href="#hash3" class="header-nav__links-item"><span class="header-nav__href">контакты</span></a>
		</div>
		<div class="header-nav__phone js__headerPhone">
			<a href="tel:+375291234567" class="header-nav__href--phone">	+375 (29) 123-45-67</a>
			<a href="tel:+375331234567" class="header-nav__href--phone">	+375 (33) 123-45-67</a>
		</div>
		<a href="#" class="header-nav__href--button js__headerPhoneBtn hidden-item">оформить заявку</a>
		<div class="header-nav__menu js__headerMenu">
			<span class="header-nav__menu-line">&nbsp;</span>
			<span class="header-nav__menu-line">&nbsp;</span>
			<span class="header-nav__menu-line">&nbsp;</span>
		</div>
	</div>
</nav>