	<!-- modal window -->
	<section class="modal__section hidden-item">
		<div class="modal__section--background">
			<div class="modal__section-missclick js__missclick"></div>
			<div class="modal__container ">
				<div class="modal__close js__modalClose">X</div>
				<form id="modal-form__main" action="#" onsubmit="return false;" class="modal-form modal-form__container js__modalForm" method="POST" enctype="ultipart/form-data">
					<div class="modal-form__item">
						<h3 class="modal-form__h3">
							Оформление заказа
						</h3>
					</div>
					<div class="modal-form__item">
						<label for="modal-form__name" class="modal-form__label">Ваше имя</label>
						<input id="modal-form__name" type="text" name="name" class="modal-form__input" maxlength="90" placeholder="Иван Иванов" required="">
						<span class="review-form__underline">&nbsp;</span>
					</div>
					<div class="modal-form__item">
						<label for="modal-form__phone" class="modal-form__label">Ваш телефон</label>
						<input id="modal-form__phone" type="tel" name="phone" class="modal-form__input" maxlength="40" placeholder="+375 33 1234567" required="">
						<span class="review-form__underline">&nbsp;</span>
					</div>
					<div class="modal-form__item">
						<label for="modal-call-main" class="modal-form__label">Ваш продукт</label>
						<div id="modal-call-main" class="modal-form__radio">
							<input id="modal-call1" class="modal-form__input--radio" name="modal-call" type="radio" value="site-1" required="">
							<label for="modal-call1" class="modal-form__label--radio">Landing-page</label>
							<input id="modal-call2" class="modal-form__input--radio" name="modal-call" type="radio" value="site-2">
							<label for="modal-call2" class="modal-form__label--radio">Коммерческий сайт</label>
							<input id="modal-call3" class="modal-form__input--radio" name="modal-call" type="radio" value="site-3">
							<label for="modal-call3" class="modal-form__label--radio">Интернет магазин</label>
						</div>
					</div>
					<div class="modal-form__item">
						<button form="modal-form__main" class="modal-form__button js__modalSubmit" type="submit" name="submit">Отправить</button>
					</div>
				</form>
			</div>
		</div>
	</section>
	<section class="scrollup__section">
		<div class="scrollup__section--background">
			<div class="scrollup__container js__scrollUP">
				<i class="glyphs__scrollup">&nbsp;</i>
			</div>
		</div>
	</section>
	<section class="vertical-nav__section">
		<div class="vertical-nav__section--background">
			<div class="vertical-nav vertical-nav__container js__verticalNav">
				<!-- js content template-->
			</div>
		</div>
	</section>