/*========================*
*       CONFIG
*=========================*/

@font-face {
  font-family: 'font-MyriadPro-Thin';
  src: local('font-MyriadPro_Thin'), local('font-MyriadPro-Thin'), url("../media/fonts/font-MyriadPro/font-MyriadPro-100.woff2") format('woff2'), url("../media/fonts/font-MyriadPro/font-MyriadPro-100.woff") format('woff');
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'font-MyriadPro-Light';
  src: local('font-MyriadPro_Light'), local('font-MyriadPro-Light'), url("../media/fonts/font-MyriadPro/font-MyriadPro-300.woff2") format('woff2'), url("../media/fonts/font-MyriadPro/font-MyriadPro-300.woff") format('woff');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'font-MyriadPro-Regular';
  src: local('font-MyriadPro_Regular'), local('font-MyriadPro-Regular'), url("../media/fonts/font-MyriadPro/font-MyriadPro-400.woff2") format('woff2'), url("../media/fonts/font-MyriadPro/font-MyriadPro-400.woff") format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'font-MyriadPro-Medium';
  src: local('font-MyriadPro_Medium'), local('font-MyriadPro-Medium'), url("../media/fonts/font-MyriadPro/font-MyriadPro-500.woff2") format('woff2'), url("../media/fonts/font-MyriadPro/font-MyriadPro-500.woff") format('woff');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'font-MyriadPro-Bold';
  src: local('font-MyriadPro_Bold'), local('font-MyriadPro-Bold'), url("../media/fonts/font-MyriadPro/font-MyriadPro-700.woff2") format('woff2'), url("../media/fonts/font-MyriadPro/font-MyriadPro-700.woff") format('woff');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'font-MyriadPro-Bolder';
  src: local('font-MyriadPro_Bolder'), local('font-MyriadPro-Bolder'), url("../media/fonts/font-MyriadPro/font-MyriadPro-900.woff2") format('woff2'), url("../media/fonts/font-MyriadPro/font-MyriadPro-900.woff") format('woff');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'font-glyphs';
  src: local('font-glyphs'), url("../media/fonts/font-glyphs/font-glyphs.woff2") format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

html,
body {
  font-family: 'font-MyriadPro-Regular', 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

h1 {
  font-family: 'font-MyriadPro-Regular', 'Roboto', sans-serif;
  letter-spacing: normal;
  color: #000;
  line-height: 141%;
  margin: unset;
}

h2 {
  font-family: 'font-MyriadPro-Regular', 'Roboto', sans-serif;
  letter-spacing: normal;
  color: #000;
  line-height: 141%;
  margin: unset;
}

h3 {
  font-family: 'font-MyriadPro-Regular', 'Roboto', sans-serif;
  letter-spacing: normal;
  color: #000;
  line-height: 141%;
  margin: unset;
}

h4 {
  font-family: 'font-MyriadPro-Regular', 'Roboto', sans-serif;
  letter-spacing: normal;
  color: #000;
  line-height: 141%;
  margin: unset;
}

h5 {
  font-family: 'font-MyriadPro-Regular', 'Roboto', sans-serif;
  letter-spacing: normal;
  color: #000;
  line-height: 141%;
  margin: unset;
}

h6 {
  font-family: 'font-MyriadPro-Regular', 'Roboto', sans-serif;
  letter-spacing: normal;
  color: #000;
  line-height: 141%;
  margin: unset;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 0.9rem;
}

h6 {
  font-size: 0.7rem;
}

p {
  font-family: 'font-MyriadPro-Regular', 'Roboto', sans-serif;
  font-size: 0.88rem;
  color: #000;
  letter-spacing: 0.06em;
}

a,
a:hover {
  letter-spacing: 0.06em;
  text-decoration: none;
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

section {
  position: relative;
  overflow: hidden;
}

nav {
  font-style: normal;
}

address {
  font-style: normal;
}

*:focus {
  outline: 0;
}

button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ttu {
  text-transform: uppercase;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

[class*="glyphs__"] {
  font-size: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: auto;
  height: 100%;
  margin: auto;
}

[class*="glyphs__"]:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: '';
  font-family: 'font-glyphs';
  font-size: 1rem;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: auto;
  line-height: 1;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  width: auto;
}

.space500,
.space250 {
  margin: auto;
  position: relative;
  text-align: center;
  height: 500px;
  background-color: #eee;
  border: 1px solid #bbb;
  border-right: 0;
  border-left: 0;
}

.space500:before,
.space250:before {
  color: #aaa;
  content: 'SPACE-500';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 5rem;
  line-height: 1;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.space250 {
  height: 250px;
}

.space250:before {
  content: 'SPACE-250';
}

/*========================*
*       MAIN
*=========================*/

.owl-carousel.owl-loaded {
  display: grid;
}

.owl-item {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0) scale(1, 1);
}

.owl-carousel.off {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.owl-theme .owl-dots .owl-dot span {
  background-color: #27353c;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #ff8207;
}

.owl-theme .owl-dots .owl-dot span {
  width: 1rem;
  height: 1rem;
}

/*========================*
*       GLYPHS
*=========================*/

.DUMMYTEXT__ {
  font-family: "font-glyphs";
  src: url("../media/img/./font-glyphs.eot");
  src: url("../media/img/./font-glyphs.eot?#iefix") format('eot'), url("../media/img/./font-glyphs.woff2") format('woff2'), url("../media/img/./font-glyphs.woff") format('woff'), url("../media/img/./font-glyphs.ttf") format('truetype'), url("../media/img/./font-glyphs.svg#font-glyphs") format('svg');
}

.DUMMYTEXT$ {
  font-family: "font-glyphs";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
  text-decoration: none;
  text-transform: none;
}

.glyphs__about-pack-01::before {
  content: "\E001";
}

.glyphs__about-pack-02::before {
  content: "\E002";
}

.glyphs__about-pack-03::before {
  content: "\E003";
}

.glyphs__about-pack-04::before {
  content: "\E004";
}

.glyphs__about-pack-05::before {
  content: "\E005";
}

.glyphs__about-pack-06::before {
  content: "\E006";
}

.glyphs__about-pack-07::before {
  content: "\E007";
}

.glyphs__about-pack-08::before {
  content: "\E008";
}

.glyphs__scrolldown::before {
  content: "\E00B";
}

.glyphs__owl-left::before {
  content: "\E00C";
}

.glyphs__owl-right::before {
  content: "\E00D";
}

.glyphs__scrollup::before {
  content: "\E00F";
}

.glyphs__s-face::before {
  content: "\E010";
}

.glyphs__s-inst::before {
  content: "\E011";
}

.glyphs__s-twit::before {
  content: "\E012";
}

.glyphs__zigzag::before {
  content: "\E013";
}

.glyphs__scrollup::before {
  color: #ff8207;
  font-size: 2.5rem;
}

.glyphs__scrolldown::before {
  color: #fff;
  font-size: 1rem;
}

.glyphs__owl-left::before {
  color: rgba(255,130,7,0.65);
  font-size: 5rem;
}

.glyphs__owl-right::before {
  color: rgba(255,130,7,0.65);
  font-size: 5rem;
}

.glyphs__zigzag::before {
  color: #ff8207;
  font-size: 0.46rem;
}

.glyphs__about-pack-01::before {
  color: #ff8207;
  font-size: 3.1555rem;
}

.glyphs__about-pack-02::before {
  color: #ff8207;
  font-size: 3.1555rem;
}

.glyphs__about-pack-03::before {
  color: #ff8207;
  font-size: 3.1555rem;
}

.glyphs__about-pack-04::before {
  color: #ff8207;
  font-size: 3.1555rem;
}

.glyphs__about-pack-05::before {
  color: #ff8207;
  font-size: 3.1555rem;
}

.glyphs__about-pack-06::before {
  color: #ff8207;
  font-size: 3.1555rem;
}

.glyphs__about-pack-07::before {
  color: #ff8207;
  font-size: 3.1555rem;
}

.glyphs__about-pack-08::before {
  color: #ff8207;
  font-size: 3.1555rem;
}

.glyphs__s-inst:hover,
.glyphs__s-twit:hover,
.glyphs__s-face:hover,
.glyphs__s-inst:hover::before,
.glyphs__s-twit:hover::before,
.glyphs__s-face:hover::before {
  -webkit-transition: 0.24s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.24s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.24s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  color: #ff8207;
}

.glyphs__s-inst::before,
.glyphs__s-twit::before,
.glyphs__s-face::before {
  color: #fff;
  font-size: 1.666rem;
}

/*========================*
*       ANIMATION
*=========================*/

@-webkit-keyframes menuOpen {
  100% {
    max-height: 20rem;
  }

  1% {
    max-height: 5rem;
  }

  0% {
    max-height: unset;
  }
}

@keyframes menuOpen {
  100% {
    max-height: 20rem;
  }

  1% {
    max-height: 5rem;
  }

  0% {
    max-height: unset;
  }
}

@-webkit-keyframes shakedBtn {
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }

  90% {
    -webkit-transform: translateX(-0.45%);
    transform: translateX(-0.45%);
  }

  80% {
    -webkit-transform: translateX(0.45%);
    transform: translateX(0.45%);
  }

  80% {
    -webkit-transform: translateX(-0.9%);
    transform: translateX(-0.9%);
  }

  60% {
    -webkit-transform: translateX(0.9%);
    transform: translateX(0.9%);
  }

  70% {
    -webkit-transform: translateX(-1.35%);
    transform: translateX(-1.35%);
  }

  40% {
    -webkit-transform: translateX(1.35%);
    transform: translateX(1.35%);
  }

  60% {
    -webkit-transform: translateX(-1.8%);
    transform: translateX(-1.8%);
  }

  20% {
    -webkit-transform: translateX(1.8%);
    transform: translateX(1.8%);
  }

  50% {
    -webkit-transform: translateX(-2.25%);
    transform: translateX(-2.25%);
  }

  0% {
    -webkit-transform: translateX(2.25%);
    transform: translateX(2.25%);
  }
}

@keyframes shakedBtn {
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }

  90% {
    -webkit-transform: translateX(-0.45%);
    transform: translateX(-0.45%);
  }

  80% {
    -webkit-transform: translateX(0.45%);
    transform: translateX(0.45%);
  }

  80% {
    -webkit-transform: translateX(-0.9%);
    transform: translateX(-0.9%);
  }

  60% {
    -webkit-transform: translateX(0.9%);
    transform: translateX(0.9%);
  }

  70% {
    -webkit-transform: translateX(-1.35%);
    transform: translateX(-1.35%);
  }

  40% {
    -webkit-transform: translateX(1.35%);
    transform: translateX(1.35%);
  }

  60% {
    -webkit-transform: translateX(-1.8%);
    transform: translateX(-1.8%);
  }

  20% {
    -webkit-transform: translateX(1.8%);
    transform: translateX(1.8%);
  }

  50% {
    -webkit-transform: translateX(-2.25%);
    transform: translateX(-2.25%);
  }

  0% {
    -webkit-transform: translateX(2.25%);
    transform: translateX(2.25%);
  }
}

@-webkit-keyframes blink-blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes blink-blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes swift-right-true {
  from {
    margin-right: -100%;
  }

  to {
    margin-right: 0;
  }
}

@keyframes swift-right-true {
  from {
    margin-right: -100%;
  }

  to {
    margin-right: 0;
  }
}

@-webkit-keyframes swift-right-false {
  to {
    margin-right: -100%;
  }

  from {
    margin-right: 0;
  }
}

@keyframes swift-right-false {
  to {
    margin-right: -100%;
  }

  from {
    margin-right: 0;
  }
}

@-webkit-keyframes remove-bg-true {
  from {
    background-color: rgba(17,17,17,0);
  }

  to {
    background-color: rgba(17,17,17,0.75);
  }
}

@keyframes remove-bg-true {
  from {
    background-color: rgba(17,17,17,0);
  }

  to {
    background-color: rgba(17,17,17,0.75);
  }
}

@-webkit-keyframes remove-bg-false {
  to {
    background-color: rgba(17,17,17,0);
  }

  from {
    background-color: rgba(17,17,17,0.75);
  }
}

@keyframes remove-bg-false {
  to {
    background-color: rgba(17,17,17,0);
  }

  from {
    background-color: rgba(17,17,17,0.75);
  }
}

@-webkit-keyframes fade-scrollup-true {
  0% {
    margin-bottom: -100%;
  }

  100% {
    margin-bottom: 0%;
  }
}

@keyframes fade-scrollup-true {
  0% {
    margin-bottom: -100%;
  }

  100% {
    margin-bottom: 0%;
  }
}

@-webkit-keyframes fade-scrollup-false {
  0% {
    margin-bottom: 0%;
  }

  100% {
    margin-bottom: -100%;
  }
}

@keyframes fade-scrollup-false {
  0% {
    margin-bottom: 0%;
  }

  100% {
    margin-bottom: -100%;
  }
}

@-webkit-keyframes nav-ponk {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  30% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  45% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes nav-ponk {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  30% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  45% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/*========================*
*       PAGES 
*=========================*/

.page-lock {
  overflow: hidden;
}

.header__container {
  display: grid;
}

.header-nav__topfixed {
  position: fixed;
  width: 100%;
  z-index: 10001;
}

.header-nav__color {
  background-color: #27353c;
}

.header-nav__container {
  max-width: 1400px;
  margin: auto;
  display: grid;
  grid-template-columns: minmax(11rem, auto) 1fr minmax(16rem, auto);
  grid-template-rows: auto;
  grid-gap: 0 1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.23s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.23s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.23s cubic-bezier(0.4, 0, 0.2, 1);
  min-height: 120px;
  overflow: hidden;
}

@media (max-width: 1366.98px) {
  .header-nav__container {
    padding: 1rem;
  }
}

@media (max-width: 1069.98px) {
  .header-nav__container {
    grid-template-columns: minmax(11rem, auto) 1fr minmax(2.2rem, auto);
    grid-template-rows: 3rem;
    grid-gap: 0;
    min-height: unset;
    max-height: 5rem;
  }
}

@media (max-width: 520.98px) {
  .header-nav__container {
    grid-template: auto/1fr 1fr;
  }
}

.header-nav__slim {
  min-height: 80px;
}

@media (max-width: 1069.98px) {
  .header-nav__slim {
    min-height: unset;
  }
}

.header-nav__logo {
  text-align: left;
}

.header-nav__links {
  display: grid;
  grid-template-rows: auto;
  height: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
}

@media (max-width: 1069.98px) {
  .header-nav__links {
    display: none;
    grid-column: 1/end;
    grid-row: 2;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    padding: 1rem 0 0;
  }
}

.header-nav__links-item {
  text-align: center;
  font-size: 0.9rem;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: 0.23s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.23s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.23s cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 0.25rem;
  border-bottom: 0.25rem solid rgba(0,0,0,0);
}

.header-nav__links-item:hover {
  cursor: pointer;
  padding-top: 0.25rem;
  border-bottom: 0.25rem solid #ff8207;
}

.header-nav__links-item:active {
  background-color: #1e292f;
}

.header-nav__links-item:first-of-type {
  letter-spacing: 0.6px;
}

.header-nav__href {
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.1em;
}

.header-nav__href:hover {
  color: inherit;
  letter-spacing: 0.1em;
}

.header-nav__href--phone {
  color: #ff8207;
  letter-spacing: 0.02em;
  font-size: 1.5rem;
  font-family: 'font-MyriadPro-Bold', 'Roboto', sans-serif;
  margin: 0 auto;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-nav__href--phone:hover {
  letter-spacing: 0.02em;
  color: #bf5f00;
}

.header-nav__href--phone:active {
  color: #8c4500;
}

.header-nav__href--button {
  width: 12.5rem;
  height: 2.5rem;
  border-radius: 10px 10px 10px 10px;
  border: 2px solid #ff8207;
  color: #ff8207;
  font-size: 16px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: grid;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: 1rem;
}

@media (max-width: 520.98px) {
  .header-nav__href--button {
    display: none;
  }
}

.header-nav__href--button:hover {
  color: #fff;
  background-color: #ff8207;
  cursor: pointer;
}

.header-nav__phone {
  display: grid;
  grid-template: 1fr 1fr/1fr;
  grid-gap: 1rem;
}

@media screen and (min-width: 767px) and (max-width: 1069px) {
  .header-nav__phone {
    grid-template: minmax(3rem, auto)/1fr 1fr;
  }
}

@media (max-width: 520.98px) {
  .header-nav__phone {
    display: none;
  }
}

.header-nav__menu {
  display: none;
  width: 2rem;
  height: 2rem;
  grid-gap: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  margin-left: auto;
  cursor: pointer;
}

@media (max-width: 1069.98px) {
  .header-nav__menu {
    display: grid;
  }
}

.header-nav__menu-line {
  background-color: #ff8207;
  height: 3px;
  font-size: 0;
}

.header-nav__container.open-item {
  -webkit-animation: menuOpen 1s both;
  animation: menuOpen 1s both;
}

.header-nav__links.open-item {
  display: grid;
}

.header-nav__links-item.active-item {
  color: #6b848c;
  background-color: #1e292f;
  padding-top: 0.25rem;
  border-bottom: 0.25rem solid #ff8207;
}

.header-nav__links-item.active-item .header-nav__href {
  color: #6b848c;
}

.bigslider__section--background {
  background-size: cover;
  background-position: center center;
  background-color: #ddd;
}

.bigslider__container {
  display: grid;
  grid-template: 1fr/1fr;
  min-height: 100vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.bigslider__container:before {
  content: '';
  width: 100%;
  height: 0.25rem;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  background: #ff8207;
  position: absolute;
  bottom: 0;
}

.bigslider__scrolldown {
  display: grid;
  text-align: center;
  margin: 0 auto 1.3rem;
}

.bigslider__scrolldown-item {
  border-radius: 100%;
  background-color: rgba(107,132,140,0.9);
  width: 2.8rem;
  height: 2.8rem;
  cursor: pointer;
  -webkit-transition: 0.24s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.24s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.24s cubic-bezier(0.4, 0, 0.2, 1);
}

.bigslider__scrolldown-item:hover {
  background-color: #e27000;
}

.bigslider__scrolldown-item:active {
  background-color: #af5700;
}

.bigslider-owl__area {
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 72vh;
  min-height: 26rem;
}

.bigslider-owl__container {
  max-width: 940px;
  display: grid;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: auto;
  grid-gap: 3rem 0;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 85vw));
  grid-template-rows: repeat(auto-fill, minmax(20vh, 1fr));
}

@media (max-width: 992.98px) {
  .bigslider-owl__container {
    grid-template-columns: repeat(auto-fit, minmax(auto, 85vw));
    grid-template-rows: repeat(auto-fill, minmax(8rem, 100%));
    grid-gap: 2rem 0;
  }
}

.bigslider-owl__h2 {
  font-size: 3rem;
  font-family: 'font-MyriadPro-Bold', 'Roboto', sans-serif;
  text-transform: uppercase;
  color: #27353c;
  letter-spacing: 0.4em;
  margin-top: unset;
  -ms-flex-item-align: end;
  align-self: end;
  max-height: 4.19rem;
  overflow: hidden;
}

@media (max-width: 608.98px) {
  .bigslider-owl__h2 {
    font-size: 1.5rem;
  }
}

.bigslider-owl__line {
  display: grid;
  grid-template-columns: 1fr 2rem 1fr;
  grid-template-rows: 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 820px;
  width: 100%;
  margin: 0 auto;
}

.bigslider-owl__line-in {
  height: 2px;
  background-color: #27353c;
}

.bigslider-owl__line-in:nth-of-type(2) {
  width: 0.9rem;
  height: 0.9rem;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: auto;
}

.bigslider-owl__p {
  font-size: 1.5rem;
  color: #27353c;
  text-transform: uppercase;
  text-align: center;
  max-width: 690px;
  margin: 0 auto;
  height: auto;
  max-height: 6.5rem;
  min-height: 6.5rem;
  overflow: hidden;
}

@media (max-width: 1200.98px) {
  .bigslider-owl__p {
    max-height: 10vh;
  }
}

.bigslider-owl__button {
  background-color: #ff8207;
  text-transform: uppercase;
  font-family: 'font-MyriadPro-Bold', 'Roboto', sans-serif;
  font-size: 32px;
  width: 25rem;
  height: 5.1rem;
  border-radius: 10px 10px 10px 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  margin: 0 auto;
  cursor: pointer;
  -webkit-transition: 0.24s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.24s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.24s cubic-bezier(0.4, 0, 0.2, 1);
}

.bigslider-owl__button:hover {
  background-color: #e27000;
}

.bigslider-owl__button:active {
  background-color: #af5700;
}

@media (max-width: 425.98px) {
  .bigslider-owl__button {
    width: 16.666666666666668rem;
    height: 3.4rem;
    font-size: 21.333333333333332px;
  }
}

.bigslider-owlnav__center {
  margin: auto;
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}

.bigslider-owlnav__arrows {
  max-width: 1200px;
  width: auto;
  height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 992.98px) {
  .bigslider-owlnav__arrows {
    display: none;
  }
}

.bigslider-owlnav__arrow {
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

@media (max-width: 1200.98px) {
  .bigslider-owlnav__arrow {
    margin: 0px 5%;
  }
}

.bigslider-owl .owl-dots {
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  height: 100%;
  grid-auto-columns: 2rem;
  grid-auto-rows: 2rem;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(1rem, 2rem));
}

.glyphs__owl-right:hover::before,
.glyphs__owl-left:hover::before {
  -webkit-transition: 0.33s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.33s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.33s cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(255,130,7,0.95);
}

.glyphs__owl-right:active::before {
  -webkit-transform: translateX(-0.5rem);
  -ms-transform: translateX(-0.5rem);
  transform: translateX(-0.5rem);
}

.glyphs__owl-left:active::before {
  -webkit-transform: translateX(0.5rem);
  -ms-transform: translateX(0.5rem);
  transform: translateX(0.5rem);
}

.work__container,
.about__container,
.review__container {
  max-width: 1400px;
  margin: auto;
  text-align: center;
  display: grid;
  height: 100%;
}

.work__title,
.about__title,
.review__title {
  margin: 0 auto;
  padding: 3.3rem 0;
}

.work__h2,
.about__h2,
.review__h2 {
  font-size: 3rem;
  color: #27353c;
  letter-spacing: 0.2em;
  font-family: 'font-MyriadPro-Regular', 'Roboto', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.work__line,
.about__line,
.review__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.work__p,
.about__p,
.review__p {
  font-size: 1.13rem;
  color: #8198a0;
  max-width: 780px;
  margin: auto;
  line-height: 2.25rem;
}

.work-gallery__container {
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 1430px;
  text-align-last: left;
  grid-gap: 0.9rem 1.3rem;
  margin: auto;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-template-rows: repeat(2, minmax(20rem, 1fr));
  padding: 0 0 5rem;
}

.work-gallery__href {
  height: 100%;
  display: grid;
}

.work-gallery__item {
  background-size: cover;
  background-position: center center;
  height: 100%;
  display: grid;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  overflow: hidden;
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.work-gallery__block {
  background-color: #d4d7d8;
  display: grid;
  grid-template-columns: 4rem 1fr;
  grid-template-rows: 1fr;
  grid-auto-rows: 1.4rem;
  padding: 1rem 0;
  margin-bottom: -100%;
  -webkit-transition: 0.23s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.23s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.23s cubic-bezier(0.4, 0, 0.2, 1);
}

.work-gallery__title {
  grid-column: 2/2;
  font-family: 'font-MyriadPro-Bold', 'Roboto', sans-serif;
  font-size: 1.2rem;
  color: #27353c;
  text-transform: uppercase;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
}

.work-gallery__line {
  grid-column: 2/2;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  display: grid;
}

.work-gallery__desc {
  grid-column: 2/2;
  font-size: 1rem;
  color: #7b7b7b;
  margin: 0;
  text-transform: uppercase;
}

.work-gallery__item:hover .work-gallery__block {
  margin-bottom: 0;
}

.about-grid__container {
  display: grid;
  max-width: 1350px;
  margin: auto;
  grid-template: auto/1fr 1fr 1fr 1fr;
  grid-gap: 3.5rem 7rem;
  padding: 0 15px;
  grid-template-columns: repeat(auto-fit, minmax(11rem, 3fr));
}

.about-grid__item {
  overflow: hidden;
}

.about-grid__picture {
  margin: auto;
}

.about-grid__title {
  margin: 1rem auto;
  font-family: 'font-MyriadPro-Bold', 'Roboto', sans-serif;
  font-size: 1rem;
  color: #27353c;
  text-transform: uppercase;
}

.about-grid__desc {
  font-size: 1rem;
  color: #8198a0;
  line-height: 1.8rem;
  max-height: 4rem;
}

.about-grid__icon {
  display: grid;
}

.review__block {
  display: grid;
  grid-template: auto/1fr 1fr;
  max-width: 940px;
  margin: auto;
  width: 100%;
  grid-gap: 2rem;
  position: relative;
}

@media (max-width: 1200.98px) {
  .review__block {
    grid-template: auto/1fr;
    padding: 0 1rem;
  }
}

.review-address__container,
.review-form__container {
  display: grid;
  text-align: left;
  grid-row-gap: 1.5rem;
  grid-template: auto auto auto 1fr/1fr;
}

.review-address__title,
.review-form__label {
  font-size: 1.5rem;
  font-family: 'font-MyriadPro-Bold', 'Roboto', sans-serif;
  color: #ff8207;
  text-transform: uppercase;
  font-style: normal;
  margin-bottom: 0.5rem;
}

.review-address__desc,
.review-form__input {
  font-size: 1.13rem;
  color: #8198a0;
  font-style: normal;
}

.review-form__item {
  display: grid;
}

.review-form__label {
  color: #27353c;
}

.review-form__input {
  font-style: italic;
  border: 0;
  border-bottom: 1px solid #ccc;
}

.review-form__input::-webkit-input-placeholder {
  color: #c0c0c0;
}

.review-form__input:-ms-input-placeholder {
  color: #c0c0c0;
}

.review-form__input::-ms-input-placeholder {
  color: #c0c0c0;
}

.review-form__input::placeholder {
  color: #c0c0c0;
}

.review-form__underline {
  opacity: 0;
  height: 2px;
  width: 100%;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: scaleX(0) translateY(-2px);
  -ms-transform: scaleX(0) translateY(-2px);
  transform: scaleX(0) translateY(-2px);
  background: #ff8207;
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form__textarea {
  font-style: italic;
  border: 0;
  font-size: 1.13rem;
  color: #8198a0;
  resize: none;
  background-image: url("../media/img/mainpage-assets/underline-bg.png");
  background-size: auto;
  background-position: 10% 24%;
}

.review-form__textarea::-webkit-input-placeholder {
  color: #c0c0c0;
}

.review-form__textarea:-ms-input-placeholder {
  color: #c0c0c0;
}

.review-form__textarea::-ms-input-placeholder {
  color: #c0c0c0;
}

.review-form__textarea::placeholder {
  color: #c0c0c0;
}

.review-form__upload {
  cursor: pointer;
  margin-left: -0.3rem;
  width: auto;
  color: #333;
}

.review-form__upload--hidden {
  margin-left: 5.14rem;
  overflow: hidden;
  -webkit-transition: 0.24s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.24s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.24s cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form__upload--hidden:hover {
  background-color: #ddd;
}

.review-form__label--origin {
  margin-left: 5rem;
  margin-bottom: 0;
}

.review-form__label--upload {
  position: relative;
  font-size: 0;
  width: 0;
  grid-row: -1;
}

.review-form__label--upload:hover::before {
  background-color: #c46100;
}

.review-form__label--upload:focus::before {
  background-color: #8c4500;
}

.review-form__label--upload:active::before {
  background-color: #8c4500;
}

.review-form__label--upload:before {
  content: '+';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 3.1rem;
  height: 3.8rem;
  font-size: 1.9rem;
  font-family: 'font-MyriadPro-Regular', 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  background: #f00;
  position: absolute;
  left: 0;
  border: 0;
  border-radius: 10px 10px 10px 10px;
  background-color: #ff8207;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.23s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.23s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.23s cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form__input--captcha {
  max-width: 18.8rem;
}

.review-form__button {
  font-weight: 400;
  font-family: 'font-MyriadPro-Regular', 'Roboto', sans-serif;
  border: 0;
  cursor: pointer;
  background-color: #ff8207;
  color: #fff;
  border-radius: 10px 10px 10px 10px;
  width: 220px;
  height: 60px;
  font-size: 1.2rem;
  text-transform: uppercase;
  -webkit-transition: 0.23s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.23s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.23s cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form__button:hover {
  background-color: #d86b00;
}

.review-form__button:active {
  background-color: #a55200;
}

.review-form__button[data-state="success"] {
  background-color: #4caf50;
}

.review-form__button[data-state="error"] {
  background-color: #f44336;
  -webkit-animation: shakedBtn 0.1s 3 both;
  animation: shakedBtn 0.1s 3 both;
}

.review-form__item--submit {
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 425.98px) {
  .review-form__item--submit {
    grid-template-columns: auto;
    grid-gap: 2rem;
  }
}

.review-form__resize {
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 139px;
  max-height: 49px;
}

.review-form__answer {
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}

.review-form__answer::-webkit-input-placeholder {
  color: #8198a0;
}

.review-form__answer:-ms-input-placeholder {
  color: #8198a0;
}

.review-form__answer::-ms-input-placeholder {
  color: #8198a0;
}

.review-form__answer::placeholder {
  color: #8198a0;
}

.review-form__picture {
  z-index: -1;
  background-image: url("../media/img/mainpage-assets/captcha-bg-noise.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: -29% -57%;
}

.review-form__input[data-input="false"] + .review-form__underline {
  background-color: #f44336;
  opacity: 1;
  -webkit-transform: scaleX(1) translateY(-2px);
  -ms-transform: scaleX(1) translateY(-2px);
  transform: scaleX(1) translateY(-2px);
}

.review-form__input[data-input="true"] + .review-form__underline {
  background-color: #4caf50;
}

.review-form__input:focus + .review-form__underline {
  opacity: 1;
  -webkit-transform: scaleX(1) translateY(-2px);
  -ms-transform: scaleX(1) translateY(-2px);
  transform: scaleX(1) translateY(-2px);
}

.review-form__before {
  opacity: 0;
}

.review-form__before.active {
  -webkit-transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  height: 0;
  top: 50%;
  right: 3rem;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 2rem;
  color: #4caf50;
  display: grid;
  opacity: 1;
  font-family: 'font-MyriadPro-Bold', 'Roboto', sans-serif;
  font-weight: 700;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-transform: uppercase;
  grid-column: 2;
}

@media (max-width: 1200.98px) {
  .review-form__before.active {
    grid-column: auto;
    top: -27%;
  }
}

.footer-nav__section--background {
  background-color: #27353c;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 45vw center;
}

.footer-nav__container {
  max-width: 1400px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, minmax(auto, 15.6666rem));
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: auto;
}

@media (max-width: 608.98px) {
  .footer-nav__container {
    grid-template-rows: repeat(auto-fit, minmax(auto, 21.6666rem));
  }
}

@media (max-width: 425.98px) {
  .footer-nav__container {
    grid-template-rows: repeat(auto-fit, minmax(auto, 23.6666rem));
  }
}

.footer-nav__row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
  grid-template-rows: repeat(1, minmax(auto, 7rem));
  grid-gap: 1rem;
  padding: 1rem;
}

.footer-nav__item {
  display: grid;
  grid-auto-rows: 1fr;
}

.footer-nav__left {
  text-align: left;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

@media (max-width: 425.98px) {
  .footer-nav__left {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
}

.footer-nav__center {
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 425.98px) {
  .footer-nav__center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
}

.footer-nav__right {
  text-align: right;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

@media (max-width: 425.98px) {
  .footer-nav__right {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
}

.footer-nav__social {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: grid;
  grid-template: auto/1fr 1fr 1fr;
}

.footer-nav__p,
.footer-nav__h4 {
  color: #fff;
}

.footer-nav__href {
  color: #fff;
  margin: 0 0 1rem;
  font-family: 'font-MyriadPro-Regular', 'Roboto', sans-serif;
  font-size: 0.88rem;
}

.footer-nav__href:hover {
  -webkit-transition: 0.24s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.24s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.24s cubic-bezier(0.4, 0, 0.2, 1);
  color: #ff8207;
}

.footer-nav__h4 {
  text-transform: uppercase;
  font-family: 'font-MyriadPro-Bold', 'Roboto', sans-serif;
  font-size: 1rem;
}

.footer-nav__h4--lts {
  letter-spacing: 0.06em;
}

.footer-nav__line {
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.footer-nav__line--left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

@media (max-width: 425.98px) {
  .footer-nav__line--left {
    margin: auto;
  }
}

.footer-nav__line--right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

@media (max-width: 425.98px) {
  .footer-nav__line--right {
    margin: auto;
  }
}

.footer-bot__section--background {
  background-color: #1d282e;
}

.footer-bot__container {
  display: grid;
  grid-template: auto/1fr;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin: -1px 0 0 0;
  height: 3.5rem;
  border-bottom: 2px solid #ff8207;
}

.footer-bot__copyright {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-family: 'font-MyriadPro-Regular', 'Roboto', sans-serif;
  letter-spacing: 0.2em;
}

.modal__section--background {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10002;
  left: 0;
  top: 0;
}

.modal__section--background-animate-in {
  -webkit-animation: remove-bg-true 0.7s 0.1s both;
  animation: remove-bg-true 0.7s 0.1s both;
}

.modal__section--background-animate-out {
  -webkit-animation: remove-bg-false 0.7s 0.1s both;
  animation: remove-bg-false 0.7s 0.1s both;
}

.modal__container {
  width: auto;
  height: auto;
  position: fixed;
  z-index: 10003;
  right: 3rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
  padding: 2.7rem;
  -webkit-box-shadow: 0 20px 60px #111;
  box-shadow: 0 20px 60px #111;
}

.modal__container--animate-in {
  -webkit-animation: swift-right-true 0.9s both;
  animation: swift-right-true 0.9s both;
}

.modal__container--animate-out {
  -webkit-animation: swift-right-false 0.9s both;
  animation: swift-right-false 0.9s both;
}

.modal__close {
  position: absolute;
  top: -2rem;
  left: -2rem;
  background-color: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 10px 10px 10px 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: grid;
  font-weight: bold;
  color: #ff8207;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'font-MyriadPro-Bold', 'Roboto', sans-serif;
  -webkit-transition: 0.24s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.24s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.24s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 10004;
}

.modal__close:hover {
  background-color: #ff8207;
  color: #fff;
}

.modal__close:active {
  background-color: #c76300;
}

.modal__section-missclick {
  z-index: 10001;
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
}

.modal__section-missclick:before {
  content: 'Нажмите ESC чтобы закрыть!';
  width: auto;
  height: auto;
  font-family: 'font-MyriadPro-Regular', 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #fff;
  bottom: 5%;
  -webkit-animation: blink-blink 2s 0.3s 2 both;
  animation: blink-blink 2s 0.3s 2 both;
}

.modal-form__container {
  display: grid;
  grid-template: auto/1fr;
  grid-row-gap: 2rem;
}

.modal-form__item {
  display: grid;
  grid-template: auto/1fr;
}

.modal-form__h3 {
  text-transform: uppercase;
  font-family: 'font-MyriadPro-Bold', 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  color: #ff8207;
  text-align: center;
  letter-spacing: 1px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.modal-form__label {
  text-transform: uppercase;
  font-family: 'font-MyriadPro-Bold', 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: #27353c;
}

.modal-form__input {
  font-style: italic;
  border: 0;
  border-bottom: 1px solid #ccc;
  font-size: 1rem;
  color: #8198a0;
}

.modal-form__radio {
  display: grid;
  grid-template: auto/auto 1fr;
  grid-gap: 0.5rem 0;
  grid-auto-flow: dense;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 0.7rem;
}

.modal-form__label--radio {
  grid-column: 2;
  cursor: pointer;
  position: relative;
}

.modal-form__label--radio:before {
  content: '';
  width: 1rem;
  height: 1rem;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  background: #ccc;
  position: absolute;
  display: grid;
  left: -1.5rem;
  bottom: 0;
}

.modal-form__input--radio {
  opacity: 0;
  margin-right: 0.8rem;
}

.modal-form__button {
  font-weight: 400;
  font-family: 'font-MyriadPro-Regular', 'Roboto', sans-serif;
  border: 0;
  cursor: pointer;
  background-color: #ff8207;
  color: #fff;
  border-radius: 10px 10px 10px 10px;
  width: 7.6rem;
  height: 2.3rem;
  font-size: 1rem;
  text-transform: uppercase;
  -webkit-transition: 0.23s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.23s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.23s cubic-bezier(0.4, 0, 0.2, 1);
  display: grid;
  margin-left: auto;
}

.modal-form__button:hover {
  background-color: #e17000;
}

.modal-form__button:active {
  background-color: #bf5f00;
}

.modal-form__button--success {
  background-color: #4caf50;
}

.modal-form__button--success:hover {
  background-color: #4caf50;
}

.scrollup__container {
  display: grid;
  border-radius: 10px 10px 10px 10px;
  border: 2px solid #ff8207;
  width: 4rem;
  height: 4rem;
  position: fixed;
  right: 5%;
  z-index: 10000;
  bottom: 7%;
  cursor: pointer;
  margin-bottom: -100%;
}

.scrollup__container:hover {
  -webkit-transition: 0.23s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.23s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.23s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ff8207;
  color: #fff;
}

.scrollup__container:active {
  background-color: #d26800;
}

.scrollup__container.active-item {
  -webkit-animation: fade-scrollup-true 0.4s both;
  animation: fade-scrollup-true 0.4s both;
  display: grid;
}

.scrollup__container.active-item-out {
  -webkit-animation: fade-scrollup-false 0.6s both;
  animation: fade-scrollup-false 0.6s both;
}

.vertical-nav__container {
  position: fixed;
  right: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: grid;
  grid-gap: 0.5rem 0;
}

.vertical-nav__dot {
  display: grid;
  width: 1rem;
  height: 1rem;
  background-color: #a5abae;
  border-radius: 100%;
  margin: auto;
}

.vertical-nav__dot.active-item {
  background-color: #ff8207;
  -webkit-animation: nav-ponk 0.39s both;
  animation: nav-ponk 0.39s both;
}

.scrollup__container:hover .glyphs__scrollup::before {
  color: #fff;
}

.modal-form__input:focus + .review-form__underline {
  opacity: 1;
  -webkit-transform: scaleX(1) translateY(-2px);
  -ms-transform: scaleX(1) translateY(-2px);
  transform: scaleX(1) translateY(-2px);
}

.modal-form__input--radio:checked + .modal-form__label--radio:before {
  background-color: #ff8207;
}

.modal-form__input--radio:checked + .modal-form__label--radio {
  color: #ff8207;
  font-weight: bold;
}

input:required,
input:invalid {
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type=file]::-webkit-file-upload-button {
  border: none;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  width: 0;
}

input:disabled,
textarea:disabled {
  background-color: rgba(0,0,0,0);
}

.height-0 {
  height: 0;
}

.hidden-item {
  display: none;
}

.hidden-form {
  -webkit-transition: 0.74s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.74s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.74s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0.15;
  z-index: -1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.align-self-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
}

.myhero__h1 {
  font-size: 32px;
  font-family: 'font-MyriadPro-Regular', 'Roboto', sans-serif;
}

.type__error {
  padding-left: 40px;
  list-style-type: disc;
}

.href__color {
  color: #3f51b5;
}