/*========================*
*       ICONS-SVG
*=========================*/

glyphs {
	+__(b = '::before') {
		.scrollup{b} {
			glyph: $d-scrollup$
			color: $$orange
			font-size 2.5rem
		}
		.scrolldown{b} {
			glyph: $c-down$
			color: $$white
			font-size 1rem
		}
		.owl-left{b} {
			glyph: $c-left$ 
			color: rgba($$orange, .65)
			font-size 5rem
		}
		.owl-right{b} {
			glyph: $c-right$ 
			color: rgba($$orange, .65)
			font-size 5rem
		}
		.zigzag{b} {
			glyph: $t-line$
			color: $$orange
			font-size: 0.46rem;
		}
		
		for i in 1..8 {
			.about-pack-0{i}{b} {
				@extend $about-pack-0{i}$
				color: $$orange
				font-size: 3.1555rem;
			}
		}
		
		.s-inst, .s-twit, .s-face {
			&:hover, 
			&:hover::before {
				transition .24s _cubic
				cursor pointer
				color: $$orange
			}
			&::before {
				color: $$white
				font-size 1.666rem
			}
		}
		
		.s-inst{b} {
		 glyph: $f-inst$
			
	 }
		.s-twit{b} {
		 glyph: $f-twit$
			
	 }
		.s-face{b} {
		 glyph: $f-face$
		}
	}
}
  