.owl-carousel.owl-loaded {
	display: grid;
}

.owl-item {
	backface-visibility: hidden;
	transform: translateZ(0) scale(1.0, 1.0);
}

.owl-carousel.off {
	display: flex;
}

.owl-theme .owl-dots .owl-dot span {
	background-color $$deepgreen
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
	background-color $$orange
}

.owl-theme .owl-dots .owl-dot span {
	width 1rem
	height 1rem
}