/* ===============================
* start -> mainpage   */

.page-lock {
	overflow hidden
}

header {
	+__() {
		.container {
			display: grid;
		}
	}
}

header-nav {
	+__() {
		.topfixed {
			position: fixed;
			width: 100%;
			z-index 10001
		}
		.color {
			background-color $$deepgreen
		}
		.container {
			max-width 1400px
			margin auto
			display grid
			grid-template-columns: minmax(11rem, auto) 1fr minmax(16rem, auto);
			grid-template-rows: auto;
			grid-gap: 0 1rem
			align-items center
			transition .23s _cubic
			min-height 120px
			overflow hidden
			+media(1366) {
				padding 1rem
			}
			+media(1069) {
				grid-template-columns: minmax(11rem, auto) 1fr minmax(2.2rem, auto);
				grid-template-rows: 3rem;
				grid-gap: 0
				min-height unset
				max-height 5rem
			}
			+media(520) {
				grid-template: auto / 1fr 1fr
			}
		}
		.slim {
			min-height 80px
			+media(1069) {
				min-height unset
			}
		}
		.logo {
			text-align left
		}
		.links {
			display: grid;
			grid-template-rows: auto
			height 100%
			grid-template-columns: repeat(6, 1fr)
			grid-gap: 1rem
			+media(1069) {
				display none
				grid-column: 1/end;
				grid-row: 2;
				grid-template-columns: repeat(1, 1fr);
				grid-gap: 1rem;
				padding: 1rem 0 0;
			}
			&-item {
				_border-bot = .25 rem
				text-align center
				font-size .9rem
				color: $$white
				text-transform uppercase
				transition .23s _cubic
				display flex
				align-items center
				justify-content center
				padding-top _border-bot
				border-bottom: _border-bot solid $$null;
				&:hover {
					cursor pointer
					padding-top _border-bot
					border-bottom _border-bot solid $$orange
				}
				&:active {
					background-color $$darkgreen
				}
				&:first-of-type {
					letter-spacing .6px
				}
			}
		}
		.href {
			color: $$white
			text-decoration none
			letter-spacing .1em
			&:hover {
				color: inherit
				letter-spacing .1em
			}
			&--phone {
				color: $$orange
				letter-spacing .02em
				font-size 1.5rem
				font-family fbold
				margin: 0 auto;
				display: grid;
				align-items: center;
				&:hover {
					letter-spacing .02em
					color: darken($$orange, 14)
				}
				&:active {
					color: darken($$orange, 24)
				}
			}
			&--button {
				width: 12.5rem;
				height: 2.5rem;
				border-radius 10px 10px 10px 10px
				border 2px solid $$orange
				color: $$orange
				font-size 16px
				align-items: center;
				justify-content: center;
				display: grid;
				text-transform uppercase
				margin-left: auto;
				margin-right: 1rem;
				+media(520) {
					display none
				}
				&:hover {
					color: $$white
					background-color $$orange
					cursor pointer
				}
			}
		}
		.phone {
			display: grid;
			grid-template: 1fr 1fr / 1fr;
			grid-gap: 1rem;
			@media screen and (min-width: 767px) and (max-width: 1069px)  {
				grid-template: minmax(3rem, auto) / 1fr 1fr
			}
			+media(520) {
				display none
			}
		}
		.menu {
			display: none;
			width: 2rem;
			height: 2rem;
			grid-gap: 0;
			justify-content: center;
			align-items: center;
			grid-template-columns: 1fr;
			grid-auto-rows: 1fr;
			margin-left auto
			cursor pointer
			+media(1069) {
				display: grid;
			}
			&-line {
				background-color $$orange;
				height 3px
				font-size 0
			}
		}
	}
}
.header-nav__container.open-item {
	animation menuOpen 1s both
}
.header-nav__links.open-item {
	display: grid;
}
.header-nav__links-item.active-item {
	color: $$darkgreen-text
	background-color $$darkgreen
	padding-top .25rem 
	border-bottom .25rem solid $$orange
	& .header-nav__href {
		color: $$darkgreen-text
	}
}



bigslider {
	+__() {
		.section--background {
			background-size cover
			background-position center center
			background-color #ddd
		}
		.container {
			display: grid;
			grid-template: 1fr / 1fr
			min-height: 100vh;
			align-items: center;
			justify-content: center;
			&:before {
				content: '';
				width: 100%;
				height: .25rem;
				font-size: 1rem;
				line-height: 1;
				text-align: center;
				background: $$orange;
				position: absolute;
				bottom: 0;
			}
		}
		.scrolldown {
			display: grid;
			text-align: center;
			margin: 0 auto 1.3rem;
			&-item {
				border-radius 100%
				background-color rgba($$darkgreen-text, .9)
				width 2.8rem
				height 2.8rem
				cursor pointer
				transition .24s _cubic
				&:hover {
					background-color darken($$orange, 7)
				}
				&:active {
					background-color darken($$orange, 17)
				}
			}
		}
		&-owl {
			+__() {
				.area {
					display: grid;
					align-items: center;
					justify-content: center;
					height: 72vh;
					min-height 26rem
				}
				.container {
					max-width: 940px;
					display: grid;
					text-align: center;
					justify-content: center;
					align-items: center;
					height: auto;
					grid-gap: 3rem 0;
					grid-template-columns: repeat(auto-fit, minmax(30rem, 85vw));
					grid-template-rows: repeat(auto-fill, minmax(20vh, 1fr));
					+media(992) {
						grid-template-columns: repeat(auto-fit, minmax(auto, 85vw));
						grid-template-rows: repeat(auto-fill, minmax(8rem, 100%));
						grid-gap: 2rem 0;
					}
				}
				.h2 {
					font-size 3rem
					font-family fbold
					text-transform uppercase
					color: $$deepgreen
					letter-spacing 0.4em
					margin-top unset
					align-self end
					max-height: 4.19rem;
					overflow: hidden;
					+media(608) {
						font-size 1.5rem
					}
				}
				.line {
					display: grid;
					grid-template-columns: 1fr 2rem 1fr;
					grid-template-rows: 1fr;
					align-items: center;
					max-width 820px
					width: 100%;
					margin: 0 auto;
					&-in {
						height 2px
						background-color $$deepgreen
						&:nth-of-type(2) {
							width .9rem
							height .9rem
							transform rotate(45deg)
							margin auto
						}
					}
				}
				.p {
					font-size 1.5rem
					color: $$deepgreen
					text-transform uppercase
					text-align center
					max-width 690px
					margin 0 auto
					height auto
					max-height: 6.5rem;
					min-height 6.5rem
					overflow hidden
					+media(1200) {
						max-height 10vh
					}		
				}
				.button {
					background-color $$orange
					text-transform uppercase
					font-family fbold
					font-size 32px
					width 25rem
					height 5.1rem
					border-radius: 10px 10px 10px 10px;
					align-items: center;
					justify-content: center;
					display: flex;
					color: $$white;
					margin 0 auto
					cursor pointer
					transition .24s _cubic
					&:hover {
						background-color darken($$orange, 7)
					}
					&:active {
						background-color darken($$orange, 17)
					}
					+media(425) {
						width (@width / 1.5)
						height (@height / 1.5)
						font-size (@font-size / 1.5)
					}
				}
			}
		}
		&-owlnav {
			.center {
				margin: auto;
				position: absolute;
				width: 100%;
				top: 50%;
				transform translateY(-50%)
				z-index 1
			}
			+__() {
				.arrows {
					max-width: 1200px;
					width auto
					height 0
					display: flex;
					margin: auto;
					justify-content: space-between;
					+media(992) {
						display none
					}
				}
				.arrow {
					z-index 1
					user-select none
					cursor pointer
					+media(1200) {
						margin: 0px 5%;
					}
				}
			}
		}
	}
}

.bigslider-owl .owl-dots {
	display: grid;
	justify-content: center;
	align-items: end;
	height: 100%;
	grid-auto-columns: 2rem;
	grid-auto-rows: 2rem;
	grid-template-rows: auto;
	grid-template-columns: repeat(auto-fit, minmax(1rem, 2rem));
}
.glyphs__owl-right,
.glyphs__owl-left {
	&:hover::before {
		transition .33s _cubic
		color: rgba($$orange, .95)
	}
}
.glyphs__owl-right&:active::before {
	transform translateX(-1rem/2)
}

.glyphs__owl-left&:active::before {
	transform translateX(1rem/2)
}

work {
	+__() {
		.container {
			max-width 1400px
			margin auto
			text-align center
			display: grid;
			height 100%

		}
		.title {
			margin: 0 auto;
			padding 3.3rem 0
		}
		.h2 {
			font-size 3rem
			color: $$deepgreen
			letter-spacing .20em
			font-family fregular
			font-weight 400
			text-transform uppercase
		}
		.line {
			display flex
			margin auto
		}
		.p {
			font-size 1.13rem
			color: $$grey-text
			max-width 780px
			margin auto
			line-height 2.25rem
		}
		&-gallery {
			+__() {
				.container {
					display: grid;
					align-items center
					justify-content center
					max-width 1430px
					text-align-last left
					grid-gap 0.9rem  1.3rem 
					margin auto;
					width 100%;
					grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
					grid-template-rows: repeat(2, minmax(20rem, 1fr));
					padding: 0 0 5rem;
				}
				.href {
					height 100%
					display: grid;
				}
				.item {
					background-size cover
					background-position center center
					height 100%
					display: grid;
					align-items: end;
					overflow hidden
					transition .25s _cubic
					cursor pointer
				}
				.block {
					background-color: $$grey;
					display: grid;
					grid-template-columns: 4rem 1fr;
					grid-template-rows: 1fr;
					grid-auto-rows: 1.4rem;
					padding 1rem 0
					margin-bottom -100%
					transition .23s _cubic
				}
				.title {
					grid-column: 2/2
					font-family fbold
					font-size 1.2rem
					color: $$deepgreen
					text-transform uppercase
					align-items end
				}
				.line {
					grid-column: 2/2
					justify-content: start;
					display: grid;
				}
				.desc {
					grid-column: 2/2
					font-size 1rem
					color: $$deepgrey
					margin 0
					text-transform uppercase
				
					
				}
			}
		}
	}
}
.work-gallery__item {
	&:hover .work-gallery__block {
		margin-bottom 0
	}
}

about {
	+__() {
		.container {
			@extend .work__container
		}
		.title {
			@extend .work__title
		}
		.h2 {
			@extend .work__h2
		}
		.line {
			@extend .work__line
		}
		.p {
			@extend .work__p
		}
		&-grid {
			+__() {
				.container {
					display: grid;
					max-width 1350px
					margin auto
					grid-template: auto / 1fr 1fr 1fr 1fr
					grid-gap: 3.5rem 7rem 
					padding 0 15px
 				grid-template-columns: repeat(auto-fit, minmax(11rem, 3fr))
				}
				.item {
					overflow hidden
				}
				.picture {
					margin auto
				}
				.title {
					margin 1rem auto
					font-family fbold
					font-size 1rem
					color: $$deepgreen
					text-transform uppercase
				}
				.desc {
					font-size 1rem
					color: $$grey-text
					line-height 1.8rem
					max-height 4rem
				}
				.icon {
					display: grid;
				}
			}
		}
	}
}

review {
	+__() {
		.container {
			@extend .work__container
		}
		.title {
			@extend .work__title
		}
		.h2 {
			@extend .work__h2
		}
		.line {
			@extend .work__line
		}
		.p {
			@extend .work__p
		}
		.block {
			display: grid;
			grid-template: auto / 1fr 1fr
			max-width 940px
			margin auto
			width: 100%;
			grid-gap: 2rem
			position relative
			+media(1200) {
				grid-template: auto / 1fr
				padding 0 1rem
			}
		}
		&-address {
			+__() {
				.container {
					display: grid;
					text-align: left;
					grid-row-gap: 1.5rem;
					grid-template: auto auto auto 1fr / 1fr;
				}
				.title {
					font-size 1.5rem
					font-family fbold
					color: $$orange
					text-transform uppercase
					font-style normal
					margin-bottom .5rem
				}
				.desc {
					font-size 1.13rem
					color: $$grey-text
					font-style normal
				}
			}
		}
		&-form {
			+__() {
				.container {
					@extend .review-address__container	
				}
				.item {
					display: grid;
				}
				.label {
					@extend .review-address__title
					color: $$deepgreen
				}
				.input {
					@extend .review-address__desc
					font-style italic
					border: 0;
					border-bottom: 1px solid #ccc;
						&::placeholder {
							color: #c0c0c0
						}
					}
				.underline {
					opacity 0
					height: 2px;
					width: 100%;
					transform-origin: center;
					font-size 0
					display: flex;
					transform: scaleX(0) translateY(-2px);
					background: $$orange;
					transition .25s _cubic
				}
				.textarea {
					font-style: italic;
					border: 0;
					font-size: 1.13rem;
					color: #8198a0;
					resize none
					background-image url('mainpage-assets/underline-bg.png')
					background-size: auto;
					background-position: 10% 24%;
					&::placeholder {
						color: #c0c0c0
					}
				}
				.upload {
					cursor: pointer;
					margin-left: -0.3rem;
					width: auto;
					color: #333
				}
				.upload--hidden {
					margin-left 5.14rem
					overflow hidden
					transition .24s _cubic
					&:hover {
						background-color #ddd
					}
				}
				.label--origin {
					margin-left 5rem
					margin-bottom 0
				}
				.label--upload {
					position: relative;
					font-size: 0;
					width: 0;
					grid-row: -1
					&:hover::before {
						background-color darken($$orange, 13)
					}
					&:focus::before {
						background-color darken($$orange, 24)
					}
					&:active::before {
						background-color darken($$orange, 24)
					}
					&:before {
						content: '+';
						display: flex;
						align-items center
						justify-content center
						width: 3.1rem;
						height: 3.8rem;
						font-size: 1.9rem;
						font-family fregular
						font-weight 400
						line-height: 1;
						text-align: center;
						background: red;
						position: absolute;
						left 0
						border 0
						border-radius 10px 10px 10px 10px
						background-color $$orange
						color: $$white
						cursor pointer
						transition .23s _cubic
					}
				}
				.input--captcha {
					max-width 18.8rem
				}
				.button {
					font-weight 400
					font-family fregular
					border 0
					cursor pointer
					background-color $$orange
					color: $$white
					border-radius 10px 10px 10px 10px
					width 220px
					height 60px
					font-size 1.2rem
					text-transform uppercase
					transition .23s _cubic
					&:hover {
						background-color darken($$orange, 9)
					}
					&:active {
						background-color darken($$orange, 19)
					}
					&[data-state="success"] {
						background-color $$green
					}
					&[data-state="error"] {
						background-color $$red
						animation shakedBtn .1s 3 both
					}
				}
				.item--submit {
					grid-template-columns: 1fr 1fr;
					align-items: center;
					+media(425) {
						grid-template-columns: auto;
						grid-gap: 2rem;
					}
				}
				.resize {
					overflow: hidden;
					width: 100%;
					height: 100%;
					max-width: 139px;
					max-height: 49px;
				}
				.answer {
					letter-spacing: 0.4rem;
					text-transform: uppercase;
					&::placeholder {
						color #8198a0
					}
				}
				.picture {
					z-index -1
					background-image url('mainpage-assets/captcha-bg-noise.jpg')
					display: flex;
					user-select: none;
					margin: -29% -57%;
				}
			}
		}
	}
}
.review-form__input[data-input="false"] + .review-form__underline {
	background-color $$red
	opacity 1
	transform: scaleX(1) translateY(-2px)
}
.review-form__input[data-input="true"] + .review-form__underline {
	background-color $$green
}
.review-form__input:focus + .review-form__underline {
	opacity 1
	transform: scaleX(1) translateY(-2px);
}

.review-form__before {
	opacity 0
	&.active {
		transition all 1s _cubic
		position: absolute;
		height: 0;
		top: 50%;
		right 3rem
		transform: translateY(-50%);
		font-size: 2rem;
		color: $$green;
		display grid
		opacity 1
		font-family fbold
		font-weight 700
		justify-content center
		text-transform uppercase
		grid-column: 2
		+media(1200) {
			grid-column: auto
			top -27%
		}
	}
}

footer-nav {
	+__() {
		.section--background {
			background-color #27353c
			background-size: contain;
			background-repeat: no-repeat;
			background-position: 45vw center;
		}
		.container {
			max-width 1400px
			margin auto
			display grid
			grid-template-columns: 1fr
			grid-template-rows: repeat(auto-fit, minmax(auto, 15.6666rem));
			align-items center
			justify-content space-between
			height auto
			+media(608) {
				grid-template-rows: repeat(auto-fit, minmax(auto, 21.6666rem));
			}
			+media(425) {
				grid-template-rows: repeat(auto-fit, minmax(auto, 23.6666rem));
			}
 
		}
		.row {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
			grid-template-rows: repeat(1, minmax(auto, 7rem));
			grid-gap: 1rem;
			padding: 1rem;
		}
		.item {
			display: grid;
			grid-auto-rows: 1fr;
		}
		.left {
			text-align left
			justify-content start
			+media(425) {
				justify-content center
				text-align center
			}
		}
		.center {
			text-align center
			justify-content center
			+media(425) {
				justify-content center
				text-align center
			}
		}
		.right {
			text-align right
			justify-content end
			+media(425) {
				justify-content center
				text-align center
			}
		}
		.social {
			justify-content center
			display: grid;
			grid-template: auto / 1fr 1fr 1fr
		}
		.p, .h4 {
			color: $$white
		}
		.href {
			color: $$white
			margin 0 0 1rem
			font-family fregular
			font-size .88rem
		}
		.href:hover {
			transition .24s _cubic
			color: $$orange
		}
		.h4 {
			text-transform uppercase
			font-family fbold
			font-size 1rem
			&--lts {
				letter-spacing: .060em;
			}
		}
		.line {
			display: grid;
 		justify-content center
 		margin-bottom 1rem
 		&--left {
 			justify-content start
 			+media(425) {
 				margin auto
 			}
 		}
 		&--right {
 			justify-content end
 			+media(425) {
 				margin auto
 			}
 		}
		}
	}
}
footer-bot {
	+__() {
		.section--background {
			background-color #1d282e
		}
		.container {
			display: grid;
			grid-template: auto / 1fr
			justify-content center
			align-items center
			text-align center
			margin -1px 0 0 0
			height 3.5rem
			border-bottom 2px solid $$orange
		}
		.copyright {
			color: $$white
			text-transform uppercase
			font-size .9rem
			font-family fregular
			letter-spacing .20em
		}
	}
}

modal {
	+__() {
		.section--background {
			width: 100%;
			height: 100%;
			position: fixed;
			z-index: 10002;
			left: 0;
			top: 0;
			&-animate-in {
				animation remove-bg-true 0.7s 0.1s both 
			}
			&-animate-out {
				animation remove-bg-false 0.7s 0.1s both 
			}
		}
		.container {
			width: auto;
			height: auto;
			position: fixed;
			z-index: 10003;
			right: 3rem;
			top: 50%;
			transform: translateY(-50%);
			background-color: $$white;
			border-radius: 10px 10px 10px 10px;
			padding: 2.7rem;
			box-shadow: 0 20px 60px #111;
			&--animate-in {
				animation swift-right-true 0.9s both 
			}
			&--animate-out {
				animation swift-right-false 0.9s both 
			}
		}
		.close {
			$size = 2rem
			position: absolute;
			top: - $size;
			left: - $size;
			background-color: #fff;
			width: $size;
			height: $size;
			border-radius 10px 10px 10px 10px
			align-items: center;
			justify-content: center;
			display: grid;
			font-weight: bold;
			color: $$orange;
			cursor pointer
			user-select none
			font-family fbold
			transition .24s _cubic
			z-index: 10004;
			&:hover {
				background-color $$orange
				color: $$white
			}
			&:active {
				background-color darken($$orange, 24%)
			}
		}
		.section-missclick {
			z-index: 10001;  
			width: 100%;
			height: 100%;
			position absolute;
			cursor: pointer;
			&:before {
				content: 'Нажмите ESC чтобы закрыть!';
				width: auto;
				height: auto;
				font-family fregular
				font-size: 14px;
				line-height: 1;
				text-align: center;
				position: absolute;
				display: flex;
				left: 50%;
				transform: translateX(-50%);
				color: $$white;
				bottom: 5%;
				animation blink-blink 2s .3s 2 both
			}
		}
	}
}

modal-form {
	+__() {
		.container {
			display: grid;
			grid-template: auto / 1fr
			grid-row-gap: 2rem;
		}
		.item {
			display: grid;
			grid-template: auto / 1fr
		}
		.h3 {
			text-transform uppercase
			font-family fbold
			font-weight 700
			font-size 1.6rem
			color: $$orange
			text-align center
			letter-spacing 1px
			user-select none
		}
		.label {
			text-transform uppercase
			font-family fbold
			font-weight 700
			font-size 1.2rem
			color: $$deepgreen
		}
		.input {
			font-style: italic;
			border: 0;
			border-bottom: 1px solid #ccc;
			font-size: 1rem;
			color: #8198a0;
		}
		.radio {
			display: grid;
			grid-template: auto / auto 1fr
			grid-gap: .5rem 0
			grid-auto-flow: dense
			align-items: center;
			justify-content: center;
			user-select none
			margin-top .7rem
		}
		.label--radio {
			grid-column: 2
			cursor pointer
			position relative
			&:before {
				content: '';
				width: 1rem;
				height: 1rem;
				font-size: 14px;
				line-height: 1;
				text-align: center;
				background: #ccc;
				position: absolute;
				display: grid;
				left -1.5rem
				bottom 0
			}
		}
		.input--radio {
			opacity 0
			margin-right: 0.8rem;
		}
		.button {
			font-weight: 400;
			font-family: fregular
			border: 0;
			cursor: pointer;
			background-color: $$orange
			color: #fff;
			border-radius: 10px 10px 10px 10px;
			width: 7.6rem;
			height: 2.3rem;
			font-size: 1rem;
			text-transform: uppercase;
			transition: 0.23s cubic-bezier(0.4, 0, 0.2, 1);
			display: grid;
			margin-left auto
			&:hover {
				background-color: darken($$orange, 14%);
			}
			&:active {
				background-color: darken($$orange, 27%);
			}
			&--success {
				background-color $$green
				&:hover {
					background-color $$green
				}
			}
		}
	}
}
scrollup {
	+__() {
		.container {
			display: grid;
			bord(10)
			border 2px solid $$orange
			width 4rem
			height 4rem
			position: fixed;
			right: 5%;
			z-index: 10000;
			bottom: 7%;
			cursor pointer
			margin-bottom -100%
			&:hover {
				transition .23s _cubic
				background-color $$orange
				color: $$white
			}
			&:active {
				background-color darken($$orange, 20%)
			}
		}
	}
}
// alternate
.scrollup__container.active-item {
	animation fade-scrollup-true .4s both
	display: grid;
}
.scrollup__container.active-item-out {
	animation fade-scrollup-false .6s both 
}


vertical-nav {
	+__() {
		.container {
			position: fixed;
			right: 1rem;
			top: 50%;
			transform translateY(-50%)
			display: grid;
			grid-gap: .5rem 0;
		}
		.dot {
			display: grid;
			width 1rem
			height 1rem
			background-color #a5abae
			border-radius 100%
			margin auto
		}
	}
}

.vertical-nav__dot.active-item {
	background-color $$orange
	animation nav-ponk .39s both
}
 
.scrollup__container:hover .glyphs__scrollup {
	&::before {
		color: $$white
	}
}
.modal-form__input:focus + .review-form__underline {
	opacity: 1;
	transform: scaleX(1) translateY(-2px);
}

// magic
.modal-form__input--radio:checked + .modal-form__label--radio:before {
	background-color $$orange
}
.modal-form__input--radio:checked + .modal-form__label--radio {
	color $$orange
	font-weight bold
}


//firefox fix 
input:required,
input:invalid {
	box-shadow:none;
}

// upload magic
input[type=file]::-webkit-file-upload-button {
	border: none;
	margin: 0;
	padding: 0;
	-webkit-appearance: none;
	width: 0;
}

// other
input:disabled,
textarea:disabled {
	background-color $$null
}
.height-0 {
	height 0
}
.hidden-item {
	display none
}
.hidden-form {
	transition .74s _cubic
	opacity .15
	z-index -1
	user-select none
}
.img-fluid {
	max-width: 100%;
	height: auto;
}
.align-self-center {
	display flex
	align-self center
}

/* end    <- mainpage   *
* =============================== */
