$svg-common 
	background url("sprite-b64cc6f9.svg") no-repeat

$about-pack-01
	@extend $svg-common
	background-position 0 0
	width 50px
	height 40px

$about-pack-02
	@extend $svg-common
	background-position 100% 50%
	width 40px
	height 40px

$about-pack-03
	@extend $svg-common
	background-position 55.55555555555556% 50%
	width 40px
	height 40px

$about-pack-04
	@extend $svg-common
	background-position 41.23711340206186% 98.78048780487805%
	width 33px
	height 40px

$about-pack-05
	@extend $svg-common
	background-position 0 49.382716049382715%
	width 40px
	height 41px

$about-pack-06
	@extend $svg-common
	background-position 55.55555555555556% 0
	width 40px
	height 41px

$about-pack-07
	@extend $svg-common
	background-position 100% 0
	width 40px
	height 41px

$about-pack-08
	@extend $svg-common
	background-position 0 100%
	width 40px
	height 41px

